const express = require('express');
const bodyParser = require('body-parser');
require('dotenv').config();
const apiRouter = require('./routes/api')(mongoose); // Assume mongoose is set up elsewhere in your project for MongoDB interactions. 

// Initialize Express and configure it with the routes from 'routes' directory.
const app = express();
app.use(bodyParser.json());
app.use('/api', apiRouter);

app.listen((process.env.PORT || 3000), () => {
    console01('Server started on port: %d', process.env.PORT || 3000);
});