{
  "name": "lifeos-ai",
  "version": "1.0.0",
  "description": "",
  "main": "api/index.js",
  "dependencies": {
    "express": "^4.17.3"
  },
  "scripts": {
    "start": "node server.js"
  },
  "keywords": [],
  "author": "",
  "license": "MIT"
}