version: '3.8'

services:
  app:
    image: node:14
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - API_KEY=${API_KEY}
      - VAULT_ADDRESS=${VAULT_ADDRESS}
      - VAULT_TOKEN=${VAULT_TOKEN}
      - STRIPE_API_KEY=${STRIPE_API_KEY}
    volumes:
      - .:/usr/src/app
    working_dir: /usr/src/app
    command: npm start