from flask import Flask, jsonify, request
from models import db, ScenarioModel
from schemas import scenario_schema

app = Flask(__name__)
db.init_app(app)
with app.app_context():
    db.create_all()

@app.route('/api/v1/makecom', methods=['POST'])
def create_scenario():
    company_id = request.json['company_id']
    scenario_data = ScenarioModel(**request.json)
    
    db.session.add(scenario_data)
    try:
        db.session.commit()
        
        return jsonify({'message': 'Scenario created successfully', 'scenarioId': scenario_data.id}), 201
    except Exception as e:
        db.session.rollback()
        return jsonify({'error': str(e)}), 400
    
@app.route('/api/v1/makecom/<int:company_id>/scenarios', methods=['GET'])
def get_scenarios(company_id):
    scenarios = ScenarioModel.query.filter_by(company_id=companys).all()
    
    data, errors = scenario_schema.dump(scenarios)
    
    if not errors:
        return jsonify({'data': [d.serialize() for d in data]}), 200
    else:
        return jsonify({'errors': errors}), 400