{
    "default": {
        "exchange": "", # no exchange needed for direct queue communication with the backend, as we'll use routing keys to target specific queues within our application contexts
        "queue": "submit-coding", # Name of RabbitMQ Queue created externally in Railway settings. 
    },
}