// models/Product.js
const mongoose = require('mongoose');

const productSchema = new mongoose.Schema({
    name: String,
    price: Number, 
    description: String, // Optional field to describe the item in more detail if needed for Make.com scenarios
    createdAt: { type: Date, default: Date.now },  
});

module.exports = mongoose.model('Product', productSchema);