const { Model } = require('sequelize');
class User extends Model {} // You need to set up Sequelize ORM here. 
User.init({
    name: DataTypes.STRING,
    email: { type: DataTypes.STRING, unique: true },
    password_hash: DataTypes.STRING(60)
}, {
    sequelize: dbInstance // This is the Sequelize instance connected to your Neon PostgreSQL database 
});
User.init({ id: { allowNull: false, primaryKey: true } });