// routes/api.js
const express = require('express');
const router = new express.Router();
const stripe = require('stripe')(process.env.STRIPE_SECRET_KEY);
require('dotenv').config();
const { Order } = require('../models'); // Assuming Sequelize models are defined in 'models' directory

// Endpoint to create a new order with Stripe payment process integration
router.post('/orders', async (req, res) => {
  try {
    const session = await stripe.checkout.sessions.create({
      line_items: [{
        price_data: {
          currency: 'gbp',
          product_data: {
            name: "LifeOS AI Council Subscription",
            description: "A monthly subscription to LifeOS services."
          },
          unit_amount: req.body.price * 100, // Stripe requires price in smallest units (pennies)
        },
        payment_method_types: ["card"],
        quantity: 1,
      }],
      mode: 'payment',
      success_url: `${req.headers.host}/orders/success`,
      cancel_url: `${req.headers.host}/orders/cancelled`
    });

    const order = new Order({
      userId: req.body.userId,
      totalAmount: session.amount_details[0].price / 100, // Convert back to GBP for the database record
      status: 'paid',
      paymentMethodStripeId: session.customer,
      createdAt: new Date(),
    });

    await order.save();
    res.status(201).json({ message: "Order created successfully", stripeSessionLink: session.url });
  } catch (error) {
    console.error('Error creating Stripe payment intent', error);
    res.status(500).send('An error occurred while processing your request');
  }
});